
*{
  margin:0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.container {
  height: 100%;
  overflow: auto;
  max-width: 1200px;
}

.background {
  background-image: url("img/pexels-charlotte-may-5825599.jpg");
  /*position: relative;*/
  background-position: center;
  height: 100%;
  background-size: cover;
}

.form-select {
  margin-bottom: 10px;
  padding: 0.9rem;
  background:  #2f2f2f70  !important;
  transition: 0.5s ease;
  color: #E0E0E0;
}
.form-select:focus{
  border-color: #BFBFBF;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.658);
}


p {
  font-size: larger;
  margin: auto;
}

.card {
  margin-top: 25px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(172 171 167 / 10%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: whitesmoke;
}
.card iframe {
  background-color: transparent !important;
}

.card-img {
  width: 250px;
  margin-bottom: 15px;
}

h3{
  color: white;
}
p{
  color: rgb(24, 21, 21);
  font-family: 'Aeonik pro';
  font-size: larger;
}
#realFan{
color: white;
font-size: 30px;
}
#songDetail{
  color: white;
}

form .form-input{
  margin: 5px auto;
  padding: 0.5rem;
  width: 100%;
  color: rgb(17, 17, 17);
  background-color: #2f2f2f70;
  border-radius: 6px;
}
.form-input:focus{
  background-color: #ffffff9c;
}

form textarea{
  padding: 0.5rem;
  width: 100%;
  background-color: #2f2f2f70;
  border-radius: 6px;
  color: rgb(17, 17, 17);
  height: 385px;
  resize: none;
}
textarea:focus{
  background-color: #ffffff9c;
}


textarea::placeholder{
  color: rgb(248, 240, 240);
}

input::placeholder{
color: rgb(248, 240, 240);
}

p {
  color: white;
  font-size: 2rem;
}



.form-btn{
   margin: 15px;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #6F6F6F;
    border-radius: 5px;
    transition: 0.5s ease;

}
.form-btn:hover{
background-color: #BFBFBF;
box-shadow: #353533;
transform: scale3d(1.1,1.1,1.1);
}